---
import { FiltrarDenuncia } from "../components/organisms/FiltrarDenuncia.jsx";
import Layout from "../layouts/Layout.astro";
import {
    Completada,
    Pendiente,
    TotalDenuncias,
    Enproceso,
} from "../lib/data.ts";
import Header from "../components/atoms/Header.astro";
---

<Layout title={`Inicio de denuncias`}>
    <Header />
    <main class="bg-[#f5f7f7] min-h-screen m-5">
        <div class="container mx-auto">
            <section
                class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 my-10"
            >
                <article
                    class="bg-white border border-gray-300 p-6 rounded-2xl shadow-sm text-center"
                >
                    <span class="text-4xl font-semibold text-black"
                        >{TotalDenuncias}</span
                    >
                    <p class="text-sm text-gray-600 mt-2">Total de denuncias</p>
                </article>

                <article
                    class="bg-white border border-gray-300 p-6 rounded-2xl shadow-sm text-center"
                >
                    <span class="text-4xl font-semibold text-black"
                        >{Pendiente}</span
                    >
                    <p class="text-sm text-gray-600 mt-2">
                        Denuncias pendientes
                    </p>
                </article>

                <article
                    class="bg-white border border-gray-300 p-6 rounded-2xl shadow-sm text-center"
                >
                    <span class="text-4xl font-semibold text-black"
                        >{Enproceso}</span
                    >
                    <p class="text-sm text-gray-600 mt-2">
                        Denuncias en proceso
                    </p>
                </article>

                <article
                    class="bg-white border border-gray-300 p-6 rounded-2xl shadow-sm text-center"
                >
                    <span class="text-4xl font-semibold text-black"
                        >{Completada}</span
                    >
                    <p class="text-sm text-gray-600 mt-2">
                        Denuncias completadas
                    </p>
                </article>
            </section>

            <FiltrarDenuncia client:load />
        </div>
    </main>
</Layout>
