---
import { ShieldAlt } from "../../icons/AllIcons.jsx";
---

<header class="w-full p-8 items-center shadow bg-white">
    <nav class="container mx-auto flex justify-between">
        <a href="/home" class="flex flex-row justify-center items-center gap-3">
            <ShieldAlt className="w-12 h-12 " />
            <div class="flex flex-col line leading-none">
                <h1 class="text-lg font-bold">
                    Portal de administracion de denuncias
                </h1>
                <span class="font-medium"
                    >Fiscal&iacute;a General de la Rep&uacute;blica</span
                >
            </div>
        </a>
        <!--Imagen del admin -->
    </nav>
</header>
