---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/escudo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Administrar Denuncias | Plataforma segura</title>
    <ClientRouter fallback="none" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html {
    background: #f5f7f7;
  }
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
